@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add an Engineer</h2>
<br>
<br>
<h4>Add an Engineer to this Machine: @Html.DisplayFor(model => model.MachineName)</h4>
<br>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select Engineer")
    <br>
    <br>
    @Html.DropDownList("EngineerId")
    <br>
    <br>
    <input type="submit" value="Save" />
}
<br>
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>