@{
  Layout = "_Layout";
}
@using Factory.Models 
@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<br>
<br>
@using (Html.BeginForm()) 
{
  <p>@Html.Label("Name"): @Html.DisplayFor(model => model.EngineerName)</p>
  <br>
  <p>Machines:</p>
   
  @if (@Model.Machines.Count == 0)
  {
    <h5>No Machines Added!</h5>
  }
  else
  {
  <ul>
  @foreach(var join in Model.Machines)
  {
    <li><a href=/Machines/Details/@join.Machine.MachineId>@join.Machine.MachineName</a></li>
  }
  </ul>
  }
}
<br>
<br>
<br>
<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Remove a Machine", "RemoveMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Engineers", "Index")</p>
<p>@Html.ActionLink("Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>